<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >

    <h:head>
        <title>Cliente</title>

        <style>
            .navbar {
                overflow: hidden;
                background-color: #333;
                font-family: Arial;
                margin-left: -8px;
                margin-right: -8px;
                margin-top: -8px;
            }

            .navbar a {
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            .dropdown {
                float: left;
                overflow: hidden;
            }

            .dropdown .dropbtn {
                font-size: 16px;    
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
            }

            .navbar a:hover, .dropdown:hover .dropbtn {
                background-color: red;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

            .dropdown-content a {
                float: none;
                color: black;
                padding: 20px 30px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }
        </style>



        <h:body>

            <div class="navbar">
                <h:link outcome="/PaginaPrincipal/paginaPrincipal"> Home </h:link>



                <h:link outcome="/CadastroDeClientes/gerenciar"> Cadastro de Clientes </h:link>

                <h:link outcome="/CadastroDeFuncionarios/gerenciar"> Cadastro de Funcionarios </h:link>

                <h:link outcome="/CadastroDeProdutos/gerenciar"> Cadastro de Produtos </h:link>



                <h:link outcome="/Vendas/gerenciar"> Vendas </h:link>

                <h:link outcome="/RelatorioDeVendas/gerenciar"> Relatorio de Vendas </h:link>




            </div>


        </h:body>

    </h:head>

    <p:spacer height="10px" />

    <h:head>
        <title>Cliente</title>
    </h:head>


    <head>


    </head>
    <body>

        <form class="form-horizontal">
            <fieldset>
                <div class="panel panel-primary">
                    <div class="panel-heading">Cadastro de Cliente</div>

                    <div class="panel-body">
                        <div class="form-group">
                           
                            <div class="col-md-11 control-label">
                                <p class="help-block"><h11>*</h11> Campo Obrigatório </p>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="Nome">Nome <h11>*</h11></label>  
                            <div class="col-md-8">
                                <input id="Nome" name="Nome" placeholder="" class="form-control input-md" required="" type="text"/>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="Nome">CPF <h11>*</h11></label>  
                            <div class="col-md-2">
                                <input id="cpf" name="cpf" placeholder="Apenas números" class="form-control input-md" required="" type="text" maxlength="11" pattern="[0-9]+$">
                            </div>

                            <label class="col-md-1 control-label" for="Nome">Nascimento<h11>*</h11></label>  
                            <div class="col-md-2">
                                <input id="dtnasc" name="dtnasc" placeholder="DD/MM/AAAA" class="form-control input-md" required="" type="text" maxlength="10" OnKeyPress="formatar('##/##/####', this)" onBlur="showhide()">
                            </div>

                            <!-- Multiple Radios (inline) -->

                            <label class="col-md-1 control-label" for="radios">Sexo <h11>*</h11></label>
                            <div class="col-md-4"> 
                                <label required="" class="radio-inline" for="radios-0" >
                                    <input name="sexo" id="sexo" value="feminino" type="radio" required>
                                        Feminino
                                </label> 
                                <label class="radio-inline" for="radios-1">
                                    <input name="sexo" id="sexo" value="masculino" type="radio">
                                        Masculino
                                </label>
                            </div>
                        </div>

                        <!-- Prepended text-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prependedtext">Telefone <h11>*</h11></label>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                    <input id="prependedtext" name="prependedtext" class="form-control" placeholder="XX XXXXX-XXXX" required="" type="text" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$"
                                           OnKeyPress="formatar('## #####-####', this)">
                                </div>
                            </div>

                            <label class="col-md-1 control-label" for="prependedtext">Telefone</label>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                    <input id="prependedtext" name="prependedtext" class="form-control" placeholder="XX XXXXX-XXXX" type="text" maxlength="13"  pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$"
                                           OnKeyPress="formatar('## #####-####', this)">
                                </div>
                            </div>
                        </div> 

                        <!-- Prepended text-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prependedtext">Email <h11>*</h11></label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input id="prependedtext" name="prependedtext" class="form-control" placeholder="email@email.com" required="" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
                                </div>
                            </div>
                        </div>


                        <!-- Search input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="CEP">CEP <h11>*</h11></label>
                            <div class="col-md-2">
                                <input id="cep" name="cep" placeholder="Apenas números" class="form-control input-md" required="" value="" type="search" maxlength="8" pattern="[0-9]+$">
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary" onclick="pesquisacep(cep.value)">Pesquisar</button>
                            </div>
                        </div>

                        <!-- Prepended text-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prependedtext">Endereço</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon">Rua</span>
                                    <input id="rua" name="rua" class="form-control" placeholder="" required="" readonly="readonly" type="text">
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <span class="input-group-addon">Nº <h11>*</h11></span>
                                    <input id="numero" name="numero" class="form-control" placeholder="" required=""  type="text">
                                </div>

                            </div>

                            <div class="col-md-3">
                                <div class="input-group">
                                    <span class="input-group-addon">Bairro</span>
                                    <input id="bairro" name="bairro" class="form-control" placeholder="" required="" readonly="readonly" type="text">
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="prependedtext"></label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon">Cidade</span>
                                    <input id="cidade" name="cidade" class="form-control" placeholder="" required=""  readonly="readonly" type="text">
                                </div>

                            </div>

                            <div class="col-md-2">
                                <div class="input-group">
                                    <span class="input-group-addon">Estado</span>
                                    <input id="estado" name="estado" class="form-control" placeholder="" required=""  readonly="readonly" type="text">
                                </div>

                            </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="Estado Civil">Estado Civil <h11>*</h11></label>
                            <div class="col-md-2">
                                <select required id="Estado Civil" name="Estado Civil" class="form-control">
                                    <option value=""></option>
                                    <option value="Solteiro(a)">Solteiro(a)</option>
                                    <option value="Casado(a)">Casado(a)</option>
                                    <option value="Divorciado(a)">Divorciado(a)</option>
                                    <option value="Viuvo(a)">Viuvo(a)</option>
                                </select>
                            </div>

                            <!-- Prepended checkbox -->

                            <label class="col-md-1 control-label" for="Filhos">Filhos<h11>*</h11></label>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <span class="input-group-addon">     
                                        <label class="radio-inline" for="radios-0">
                                            <input type="radio" name="filhos" id="filhos" value="nao" onclick="desabilita('filhos_qtd')" required>
                                                Não
                                        </label> 
                                        <label class="radio-inline" for="radios-1">
                                            <input type="radio" name="filhos" id="filhos" value="sim" onclick="habilita('filhos_qtd')">
                                                Sim
                                        </label>
                                    </span>
                                    <input id="filhos_qtd" name="filhos_qtd" class="form-control" type="text" placeholder="Quantos?" pattern="[0-9]+$" >

                                </div>

                            </div>
                        </div>


                        <!-- Select Basic -->
                        <div class="form-group">

                            <label class="col-md-2 control-label" for="selectbasic">Escolaridade <h11>*</h11></label>

                            <div class="col-md-3">
                                <select required id="escolaridade" name="escolaridade" class="form-control">
                                    <option value=""></option>
                                    <option value="Analfabeto">Analfabeto</option>
                                    <option value="Fundamental Incompleto">Fundamental Incompleto</option>
                                    <option value="Fundamental Completo">Fundamental Completo</option>
                                    <option value="Médio Incompleto">Médio Incompleto</option>
                                    <option value="Médio Completo">Médio Completo</option>
                                    <option value="Superior Incompleto">Superior Incompleto</option>
                                    <option value="Superior Completo">Superior Completo</option>
                                </select>
                            </div>


                            <!-- Text input-->

                            <label class="col-md-1 control-label" for="profissao">Profissão<h11>*</h11></label>  
                            <div class="col-md-4">
                                <input id="profissao" name="profissao" type="text" placeholder="" class="form-control input-md" required="">

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="encaminhamento">Encaminhamento <h11>*</h11></label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon">     
                                        <label class="radio-inline" for="radios-0">
                                            <input type="radio" name="enc" id="enc" value="Nao" onclick="desabilita('enc_instituicao')" required>
                                                Não
                                        </label> 
                                        <label class="radio-inline" for="radios-1">
                                            <input type="radio" name="enc" id="enc" value="sim" onclick="habilita('enc_instituicao')">
                                                Sim
                                        </label>
                                    </span>
                                    <input id="enc_instituicao" name="enc" class="form-control" type="text" placeholder="Instituição" >

                                </div>

                            </div>


                            <label class="col-md-1 control-label" for="encaminhamento">Aluno FAP-Betim<h11>*</h11></label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon">     
                                        <label class="radio-inline" for="radios-0">
                                            <input type="radio" name="aluno" id="enc" value="Nao" required>
                                                Não
                                        </label> 
                                        <label class="radio-inline" for="radios-1">
                                            <input type="radio" name="aluno" id="enc" value="sim">
                                                Sim
                                        </label>
                                    </span>
                                    <input id="enc" name="curso" class="form-control" type="text" placeholder="Curso" >

                                </div>

                            </div>


                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="textinput">Como ficou sabendo da Clínica?</label>  
                            <div class="col-md-4">
                                <input id="textinput" name="textinput" placeholder="" class="form-control input-md" type="text">

                            </div>

                        </div>


                        <div id="newpost">
                            <div class="form-group">
                                <div class="col-md-2 control-label">
                                    <h3>Responsável</h3>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label" for="Nome">Nome <h11>*</h11></label>  
                                <div class="col-md-8">
                                    <input id="Nome" name="Nome" placeholder="" class="form-control input-md" required="" type="text">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="vinculo">Vinculo com cliente <h11>*</h11></label>  
                                <div class="col-md-2">
                                    <input id="vinculo" name="vinculo" placeholder="" class="form-control input-md" required="" type="text" pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$/">

                                </div>


                                <label class="col-md-1 control-label" for="Nome">Nascimento<h11>*</h11></label>  
                                <div class="col-md-2">
                                    <input id="dtnasc" name="dtnasc" placeholder="DD/MM/AAAA" class="form-control input-md" required="" type="text" maxlength="10" OnKeyPress="formatar('##/##/####', this)">
                                </div>

                                <!-- Multiple Radios (inline) -->

                                <label class="col-md-1 control-label" for="radios">Sexo <h11>*</h11></label>
                                <div class="col-md-4"> 
                                    <label required="" class="radio-inline" for="radios-0" >
                                        <input name="sexo" id="sexo" value="feminino" type="radio" required>
                                            Feminino
                                    </label> 
                                    <label class="radio-inline" for="radios-1">
                                        <input name="sexo" id="sexo" value="masculino" type="radio">
                                            Masculino
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label" for="Estado Civil">Estado Civil <h11>*</h11></label>
                                <div class="col-md-2">
                                    <select required id="Estado Civil" name="Estado Civil" class="form-control">
                                        <option value=""></option>
                                        <option value="Solteiro(a)">Solteiro(a)</option>
                                        <option value="Casado(a)">Casado(a)</option>
                                        <option value="Divorciado(a)">Divorciado(a)</option>
                                        <option value="Viuvo(a)">Viuvo(a)</option>
                                    </select>
                                </div>

                                <label class="col-md-1 control-label" for="Filhos">Filhos<h11>*</h11></label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">     
                                            <label class="radio-inline" for="radios-0">
                                                <input type="radio" name="ofilhos" id="ofilhos" value="nao" onclick="desabilita('ofilhos_qtd')" required>
                                                    Não
                                            </label> 
                                            <label class="radio-inline" for="radios-1">
                                                <input type="radio" name="ofilhos" id="ofilhos" value="sim" onclick="habilita('ofilhos_qtd')">
                                                    Sim
                                            </label>
                                        </span>
                                        <input id="ofilhos_qtd" name="ofilhos_qtd" class="form-control" type="text" placeholder="Quantos?" pattern="[0-9]+$" >

                                    </div>

                                </div>
                            </div>

                            <div class="form-group">

                                <label class="col-md-2 control-label" for="selectbasic">Escolaridade <h11>*</h11></label>

                                <div class="col-md-3">
                                    <select required id="escolaridade" name="escolaridade" class="form-control">
                                        <option value=""></option>
                                        <option value="Analfabeto">Analfabeto</option>
                                        <option value="Fundamental Incompleto">Fundamental Incompleto</option>
                                        <option value="Fundamental Completo">Fundamental Completo</option>
                                        <option value="Médio Incompleto">Médio Incompleto</option>
                                        <option value="Médio Completo">Médio Completo</option>
                                        <option value="Superior Incompleto">Superior Incompleto</option>
                                        <option value="Superior Completo">Superior Completo</option>
                                    </select>
                                </div>


                                <!-- Text input-->

                                <label class="col-md-1 control-label" for="profissao">Profissão<h11>*</h11></label>  
                                <div class="col-md-4">
                                    <input id="profissao" name="profissao" type="text" placeholder="" class="form-control input-md" required="">

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label" for="prependedtext">Telefone <h11>*</h11></label>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                        <input id="prependedtext" name="prependedtext" class="form-control" placeholder="XX XXXXX-XXXX" required="" type="text" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$"
                                               OnKeyPress="formatar('## #####-####', this)">
                                    </div>
                                </div>

                                <label class="col-md-1 control-label" for="prependedtext">Telefone</label>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                        <input id="prependedtext" name="prependedtext" class="form-control" placeholder="XX XXXXX-XXXX" type="text" maxlength="13"  pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$"
                                               OnKeyPress="formatar('## #####-####', this)">
                                    </div>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="prependedtext">Email <h11>*</h11></label>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input id="prependedtext" name="prependedtext" class="form-control" placeholder="email@email.com" required="" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Button (Double) -->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="Cadastrar"></label>
                            <div class="col-md-8">
                                <button id="Cadastrar" name="Cadastrar" class="btn btn-success" type="Submit">Cadastrar</button>
                                <button id="Cancelar" name="Cancelar" class="btn btn-danger" type="Reset">Cancelar</button>
                            </div>
                        </div>

                    </div>
                </div>


            </fieldset>
        </form>

    </body>
</html>


