<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >

    <h:head>
        <title>Cadastro de Funcionários</title>

        <style>
            .navbar {
                overflow: hidden;
                background-color: #333;
                font-family: Arial;
                margin-left: -8px;
                margin-right: -8px;
                margin-top: -8px;
            }

            .navbar a {
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            .dropdown {
                float: left;
                overflow: hidden;
            }

            .dropdown .dropbtn {
                font-size: 16px;    
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
            }

            .navbar a:hover, .dropdown:hover .dropbtn {
                background-color: red;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

            .dropdown-content a {
                float: none;
                color: black;
                padding: 20px 30px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }
        </style>



        <h:body>

            <div class="navbar">
                
                <h:link outcome="/PaginaPrincipal/paginaPrincipal"> Home </h:link>

                <h:link outcome="/CadastroDeClientes/gerenciar"> Cadastro de Clientes </h:link>

                <h:link outcome="/CadastroDeFuncionarios/gerenciar"> Cadastro de Funcionarios </h:link>

                <h:link outcome="/CadastroDeProdutos/gerenciar"> Cadastro de Produtos </h:link>
                
                <h:link outcome="/Vendas/gerenciar"> Vendas </h:link>

                <h:link outcome="/RelatorioDeVendas/gerenciar"> Relatorio de Vendas </h:link>




            </div>


        </h:body>

    </h:head>

    <p:spacer height="10px" />

    <h:head>
        <title>Funcionários</title>
    </h:head>
    <h:body>



        <h:form prependId="false">
            <p:growl autoUpdate="false" id="growl" />
            <p:fieldset legend="Cadastro de Funcionários">
                <p:panelGrid columns="2" id="painel">
                    <f:facet name="header">
                        Dados do Funcionários
                    </f:facet>
                    <p:outputLabel value="Codigo:" for="codigo" />
                   
                    <p:inputText id="codigo"  style="width: 40px" readonly="true" value="#{funcionarioBean.codigo}" />

                    <p:outputLabel value="Nome:" for="nome" />
                    <h:panelGroup >
                        <p:inputText id="nome" required="true" style="width: 400px" 
                                     placeholder="Entre com o nome" value="#{funcionarioBean.funcionario.nome}" />
                        <p:message for="nome" />
                    </h:panelGroup>

                    <p:outputLabel value="Cpf:" for="cpf" />
                    <h:panelGroup >
                        <p:inputMask id="cpf" mask="999.999.999-99" placeholder="XXX.XXX.XXX-" required="true"  value="#{funcionarioBean.funcionario.cpf}"/>
                        <p:message for="cpf" />
                    </h:panelGroup>



                    <p:outputLabel value="Telefone:" for="telefone" />
                    <h:panelGroup >
                        <p:inputMask id="telefone" mask="(99) 99999 - 9999" placeholder="XX XXXXX-XXXX" required="true"  value="#{funcionarioBean.funcionario.telefone}"/>
                        <p:message for="telefone" />
                    </h:panelGroup>

                    <p:outputLabel value="Celular:" for="celular" />
                    <h:panelGroup >
                        <p:inputMask id="celular" mask="(99) 99999 - 9999" placeholder="XX XXXXX-XXXX" required="true"  value="#{funcionarioBean.funcionario.celular}"/>
                        <p:message for="celular" />
                    </h:panelGroup>

                    <p:outputLabel value="Senha:" for="senha"/>
                    <h:panelGroup>
                        <p:password id="senha" value="#{funcionarioBean.funcionario.senha}" match="senha2" placeholder="Digite a senha" label="Password 1" required="true" />
                         <p:spacer height="20px" />
                         <p:password id="senha2" value="#{funcionarioBean.funcionario.senha}" placeholder="Repita a senha" label="Password 1" required="true" />
                    </h:panelGroup>




                    <f:facet name="footer">
                        <p:commandButton value="Salvar" icon="fa-save"  action="#{funcionarioBean.salvar}" update="growl,painel,tabela" />
                        <p:spacer width="20px" />
                        <p:commandButton value="Novo" icon="fa-save"  ajax="false" action="#{funcionarioBean.novo}" immediate="true"/>
                    </f:facet>
                      <h:inputHidden value="#{funcionarioBean.funcionario.id}" />
                </p:panelGrid>
              
            </p:fieldset>

            <p:spacer height="20px" />

            <p:fieldset legend="Lista de Funcionários" >
                <p:dataTable value="#{funcionarioBean.lista}" var="funcionario" id="tabela">
                    <p:column headerText="Código" style="width: 80px; text-align: center">
                        <h:outputText value="#{funcionario.id}" />
                    </p:column>
                    <p:column headerText="Nome">
                        <h:outputText value="#{funcionario.nome}" />
                    </p:column>
                    <p:column headerText="Celular">
                        <h:outputText value="#{funcionario.celular}" />
                    </p:column>
                    <p:column style="width: 100px; text-align: center">
                        <p:commandButton  icon="ui-icon-pencil
                                          " title="Editar" ajax="false" immediate="true">
                            <f:setPropertyActionListener target="#{funcionarioBean.funcionario}" value="#{funcionario}" />
                        </p:commandButton>

                        <p:commandButton icon="ui-icon-trash" title="Excluir" actionListener="#{funcionarioBean.excluir(funcionario)}" process="@this" update="growl , tabela"  />

                    </p:column>




                </p:dataTable>

            </p:fieldset>
            
            
        </h:form>








    </h:body>
</html>


