<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Autenticação</title>
    </h:head>

     <style>
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 20px 30px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
</style>


  
    <h:body>
        <p:growl id="mensagem" />

        <p:dialog header="Autenticação" closable="true" draggable="false" widgetVar="login"
                  resizable="false" modal="true" visible="true">
            <h:form>
                <h:panelGrid columns="2">
                    <p:outputLabel for="cpf" value="CPF:" />
                    <p:inputMask id="cpf" mask="999.999.999-99" size="20"
                                 required="false" requiredMessage="O campo CPF é obrigatório"
                                 value="#{funcionarioBean.funcionario.cpf}" />

                    <p:outputLabel for="senha" value="Senha:" />
                    <p:password id="senha" maxlength="8" size="20" required="false"
                                requiredMessage="O campo Senha é obrigatório"
                                value="#{funcionarioBean.funcionario.senha}"
                               />
                </h:panelGrid>

                <h:panelGrid columns="1">
                    <p:commandButton value="Entrar" onstart="/PaginaPrincipal/paginaPrincipal" />
                    <h:link outcome="/PaginaPrincipal/paginaPrincipal"> Home </h:link>
                </h:panelGrid>
            </h:form>
        </p:dialog>
    </h:body>
</html>